[**GTCX Core API Reference**](../../../README.md)

***

[GTCX Core API Reference](../../../README.md) / [@gtcx/domain](../README.md) / [](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [03-platform/packages/domain/src/types.ts:138](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/domain/src/types.ts#L138)

Validation result

## Properties

### errors

> **errors**: `string`[]

Defined in: [03-platform/packages/domain/src/types.ts:140](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/domain/src/types.ts#L140)

***

### isValid

> **isValid**: `boolean`

Defined in: [03-platform/packages/domain/src/types.ts:139](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/domain/src/types.ts#L139)

***

### warnings?

> `optional` **warnings**: `string`[]

Defined in: [03-platform/packages/domain/src/types.ts:141](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/domain/src/types.ts#L141)
