[**GTCX Core API Reference**](../../../../README.md)

***

[GTCX Core API Reference](../../../../README.md) / [@gtcx/security](../../README.md) / [validation](../README.md) / ValidationResult

# Interface: ValidationResult\<T\>

Defined in: [03-platform/packages/security/src/validation/sanitize.ts:184](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/security/src/validation/sanitize.ts#L184)

## Type Parameters

### T

`T`

## Properties

### data

> **data**: `T`

Defined in: [03-platform/packages/security/src/validation/sanitize.ts:186](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/security/src/validation/sanitize.ts#L186)

***

### success

> **success**: `true`

Defined in: [03-platform/packages/security/src/validation/sanitize.ts:185](https://github.com/gtcx-ecosystem/gtcx-core/blob/3ba6b52766dfe45fb9673e3b808e08e184b9256d/03-platform/packages/security/src/validation/sanitize.ts#L185)
